*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: darkcyan;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2vmin;
}
h1{
    font-size: 2rem;
}
.container{
    height: 60vh;
    display: flex;
    justify-content: center;
}
.game{
    height: 48vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;

}
.box{
    height: 15vmin;
    width: 15vmin;
    font-size: 8vmin;
    border-radius: 16px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.3);
    background-color: #fff;
    color: black;
}
.Reset-btn{
    padding: 0.8rem;
    background-color: black;
    color: white;
   
   
}
.new-btn{
    padding: 0.8rem;
    background-color: black;
    color: white; 
    margin: 2vmin 0vmin;  
}

#msg{
    font-size: 5vmin;
    color: #fff;
}
.hide{
    
    display: none;
}
