*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "sans-serif","poppins";
}
body{
    background-color:rgb(1, 1, 8);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 400px;
   max-height:  600px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}
.container h1{
    font-weight: 25px;
    border-bottom: 1px solid #333;
    
    padding: 10px;
    text-align: center;
}
.quiz #questions{
    padding: 5px;
    font-weight: 600;
}
#answer-buttons{
    gap: 10px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    padding: 0 6px;
}
.btn{
    height: 30px;
    text-align: left;
    background: #fff;
    color: #222;
    cursor: pointer;
    transition: all 0.2s;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.01rem;
}
.btn:hover{
    background: #222;
    color: #fff;
}
#next-button{
    width: 78px;
    height: 31px;
    margin: 13px;
    text-align: center;
    margin-left: 6px;
    background-color:#001e4d;
    color: #fff;
    font-weight: 400;
    font-size: medium;
    display: none;
}
